node_modules
.angular
dist
angular-node-npm/.claude/settings.local.json
CLAUDE.md
.claude
react-node-npm/packages/server/data/instances.json
angular-node-npm/packages/server/data/instances.json
angular-java-nx/.vscode/settings.json
